<article class="post-list h-feed post-card">
    <div class="post-header">
        <header>
            {{ $random := (md5 .Title) }}
            {{ $iconPath := printf "%sicon.svg" .File.Dir }}
            {{ if fileExists $iconPath }}
                <style>
                    .post-icon-{{ $random }}::before {
                        display: inline-block;
                        content: '';
                        background-image: url("/{{ $iconPath }}");
                        width: 1.2em;
                        height: 1.2em;
                        background-size: auto 100%;
                        vertical-align: text-bottom;
                    }
                </style>
            {{ end }}
            <h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}} {{ if fileExists $iconPath}}post-icon-{{$random}}{{end}}">
                <a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " | markdownify }}</a>
            </h1>
        </header>
        {{ partial "post-language-switcher.html" . }}
    </div>

    <!-- Dynamic Preview Image Logic -->
    <div class="post-image">
        {{ $content := .Content | plainify }}
        {{ $image := $content | findRE "<img.*?src=[\"'](.+?)[\"'].*?>" 1 }}
        {{ if $image }}
            <img src="{{ index $image 0 }}" alt="{{ .Title }}" class="post-preview-image">
        {{ else }}
            <!-- Fallback Default Image -->
            <img src="/path/to/default-image.jpg" alt="Default Preview Image" class="post-preview-image">
        {{ end }}
    </div>

    {{ if not .Site.Params.disableSummary }}
        <div class="content post-summary p-summary">
            {{ .Summary | safeHTML }}
        </div>
    {{ end }}

    {{ if and (.Truncated) (.Site.Params.readMore) }}
        <div class="read-more">
            <a class="u-url" href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
        </div>
    {{ end }}

    {{ if .Store.Get "hasMermaid" }}
        {{ partial "mermaid_support.html" . }}
    {{ end }}

    {{ if .Params.math }}
        {{ partial "mathjax_support.html" . }}
    {{ end }}

    {{ partial "post-info.html" . }}
</article>